html {
   background-color: #ddd;
   font-family: Arial, Helvetica, sans-serif;
   border: 16px dotted blue;
}

header {
   background-color: hsl(0, 100%, 50%);
}

nav {
   background-color: hsl(0, 100%, 60%);
}

main {
   background-color: hsl(0, 100%, 70%);
}

footer {
   background-color: hsl(0, 100%, 80%);
}
